@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .nav-menu::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--_height);
    scale: var(--_width, 0.125) 1;
    translate: var(--_left, 0) 0px;
    transform-origin: left;
    transition-duration: var(--_duration);
    transition-timing-function: ease-in-out;
  }

  .three-dee {
    perspective: 800px;
  }

  .three-dee:hover {
    perspective: 800px;
    transform: rotateX(var(--_rotateX)) rotateY(var(--_rotateY)) !important;
    transform-origin: center;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .read-me-content {
    * {
      @apply decoration-brandLight-800 dark:decoration-brandDark-200 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-2 font-bold text-light-base underline underline-offset-2 dark:text-dark-base !important;
    }

    h1 {
      @apply sticky top-0 z-10 -mt-[4px] w-full bg-neutrals-200 pb-2 pt-3 text-2xl leading-tight dark:bg-neutrals-700 max-sm:text-center  sm:text-3xl !important;
    }

    h2 {
      @apply text-xl !important;
    }

    h3 {
      @apply text-lg !important;
    }

    h4,
    h5,
    h6 {
      @apply text-base !important;
    }

    p {
      @apply text-xs xs:text-sm !important;
    }

    code {
      @apply rounded-xl font-mono font-normal leading-none !important;
    }

    pre code {
      @apply block max-w-screen-sm overflow-x-scroll whitespace-pre rounded-xl px-3 py-2 text-xs leading-none backdrop-brightness-100 backdrop-contrast-75 dark:backdrop-brightness-75 dark:backdrop-contrast-100 xs:text-sm !important;
    }

    ol {
      @apply ml-4 block min-w-fit max-w-screen-sm list-decimal px-2 text-xs xs:text-sm !important;

      li {
        @apply ml-1 list-item marker:font-semibold marker:text-brandLight-800 marker:dark:text-brandDark-200 !important;

        & > ol {
          @apply ml-0.5 !important;
        }
      }
    }

    ul {
      @apply ml-1.5 block min-w-fit max-w-screen-sm list-disc px-2 text-xs xs:text-sm  !important;

      li {
        @apply ml-1 list-item marker:font-extrabold !important;

        ul {
          @apply ml-0 !important;
        }
      }
    }

    a {
      @apply rounded-sm px-px py-px font-medium text-brandLight-600 transition-colors duration-300 ease-in-out hover:bg-brandLight-500/70 hover:text-dark-base dark:text-brandDark-400 hover:dark:bg-brandDark-400/90 hover:dark:text-dark-base !important;
    }

    img {
      @apply mx-auto max-w-full rounded-md !important;
    }
  }
}
