@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .nav-menu::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--_height);
    scale: var(--_width, 0.125) 1;
    translate: var(--_left, 0) 0px;
    transform-origin: left;
    transition-duration: var(--_duration);
    transition-timing-function: ease-in-out;
  }

  .three-dee {
    perspective: 800px;
  }

  .three-dee:hover {
    perspective: 800px;
    transform: rotateX(var(--_rotateX)) rotateY(var(--_rotateY)) !important;
    transform-origin: center;
  }

  .read-me-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-bold text-light-base underline underline-offset-2 dark:text-dark-base !important;
    }

    h1 {
      @apply sticky top-0 z-10 -mt-[4px] h-16 w-full bg-neutrals-200 pb-3 pt-5 text-3xl  dark:bg-neutrals-700 !important;
    }

    h2 {
      @apply text-xl !important;
    }

    h3 {
      @apply text-lg !important;
    }

    h4,
    h5,
    h6 {
      @apply text-base  !important;
    }

    p {
      @apply mb-4 text-xs xs:text-sm !important;
    }

    pre code {
      @apply block max-w-screen-sm overflow-x-scroll whitespace-pre rounded-xl px-3 py-4 text-xs leading-none backdrop-brightness-75 xs:text-sm !important;
    }

    ul,
    ol {
      @apply ml-4 block min-w-fit max-w-screen-sm list-decimal px-5 text-xs xs:text-sm !important;

      li {
        @apply ml-4 list-item !important;
      }
    }

    a {
      @apply rounded-md bg-brandLight-500/70 px-2 py-0.5 text-white hover:bg-brandLight-300/70 hover:text-light-base dark:bg-brandDark-500/70 hover:dark:bg-brandDark-300/70;
    }

    img {
      @apply mx-auto max-w-full rounded-md;
    }
  }
}
